@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600&display=swap");
@import "~antd/dist/antd.css";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Work Sans", sans-serif !important;
}

a {
  text-decoration: none;
}

.navbar * {
  background-color: white;
  color: black;
}

.appbar a {
  display: block;
  padding: 3px 0;
}

.signUp {
  p {
    margin-bottom: 2px;
    color: rgb(231, 76, 76);
  }
  & form input {
    display: block;
    margin: 10px 0;
    border: 1px solid #cecece;
    padding: 4px 20px;
    border-radius: 3px;
  }
  & form {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  Button {
    margin: 5px 0;
  }
}
